@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
  background-color: #1a1a1a;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
}
@font-face {
  font-family: 'pousada-icons';
  src: url('../../assets/icons/pousada.eot?ifary1');
  src: url('../../assets/icons/pousada.eot?ifary1#iefix') format('embedded-opentype'), url('../../assets/icons/pousada.ttf?ifary1') format('truetype'), url('../../assets/icons/pousada.woff?ifary1') format('woff'), url('../../assets/icons/pousada.svg?ifary1#remoto-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * mobile
 * @description mobile landscape breakpoint 480px
 */
/**
 * tablet
 * @description tablet breakpoint 768px
 */
/**
 * desktop
 * @description tablet breakpoint 992px
 */
/**
 * huge
 * @description tablet breakpoint 1200px
 */
/**
 * box-sizing
 * @description the box-sizing property
 */
/**
 * clearfix
 * @description the box-sizing property
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * btn
 * @description the box-sizing property
 */
#hamburguer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 10px 20px;
  font-size: 40px;
  color: #1a1a1a;
}
#hamburguer::before {
  content: "\e908";
}
#hamburguer::before {
  font-family: 'pousada-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 48em) {
  #hamburguer {
    display: none;
  }
}
#hamburguer.toggleMenuMobile {
  color: #fff;
}
.menu-principal-mobile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-bottom: 2px #1a1a1a;
}
@media (min-width: 48em) {
  .menu-principal-mobile {
    display: none;
  }
}
.menu-principal-mobile.toggleMenuMobile {
  display: none;
}
.menu-principal-mobile > img {
  height: 100%;
}
.menu-principal {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}
.menu-principal.toggleMenu {
  display: block;
}
@media (min-width: 48em) {
  .menu-principal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 120px;
    background-color: #fff;
    border-bottom: 2px #1a1a1a;
  }
}
.menu-principal nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}
.menu-principal nav:after {
  content: "";
  display: table;
  clear: both;
}
.menu-principal nav > header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  height: calc(120px - 20px);
  text-align: center;
}
@media (min-width: 48em) {
  .menu-principal nav > header {
    width: 100px;
    float: left;
    border-bottom: none;
  }
}
.menu-principal nav > header > a {
  display: block;
  height: 100%;
}
@media (min-width: 48em) {
  .menu-principal nav > header > a.logoAlternativo {
    display: none;
  }
}
.menu-principal nav > header > a.logo {
  display: none;
}
@media (min-width: 48em) {
  .menu-principal nav > header > a.logo {
    display: block;
  }
}
.menu-principal nav > header > a > img {
  height: 100%;
}
.menu-principal nav > ul {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-principal nav > ul:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .menu-principal nav > ul {
    width: 70%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -o-translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 48em) {
  .menu-principal nav > ul li {
    display: inline-block;
  }
}
.menu-principal nav > ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
@media (min-width: 48em) {
  .menu-principal nav > ul li a {
    font-size: 14px;
    color: #1a1a1a;
    padding: 0 10px;
  }
}
@media (min-width: 62em) {
  .menu-principal nav > ul li a {
    font-size: 16px;
  }
}
@media (min-width: 75em) {
  .menu-principal nav > ul li a {
    font-size: 18px;
  }
}
.menu-principal nav > aside:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .menu-principal nav > aside {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 20px;
  }
}
.menu-principal nav > aside ul:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .menu-principal nav > aside ul {
    position: absolute;
    top: 50%;
    right: 0;
    transform: -webkit-translateY(-50%);
    transform: -moz-translateY(-50%);
    transform: -o-translateY(-50%);
    transform: translateY(-50%);
  }
}
.menu-principal nav > aside ul li a {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  border: none;
  text-decoration: none;
}
@media (min-width: 48em) {
  .menu-principal nav > aside ul li a {
    color: #1a1a1a;
  }
}
.menu-principal nav > aside ul li a.facebook::before {
  content: "\e906";
}
.menu-principal nav > aside ul li a.facebook::before {
  font-family: 'pousada-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}
.header-principal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.header-principal > .seta {
  display: block;
  padding: 10px;
  text-align: center;
  opacity: .4;
}
.header-principal > .seta::before {
  content: "\e901";
}
.header-principal > .seta::before {
  font-family: 'pousada-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}
.header-principal > h1 {
  text-align: center;
  line-height: 120%;
}
@media (min-width: 48em) {
  .header-principal > h1 {
    font-size: 18px;
  }
}
@media (min-width: 62em) {
  .header-principal > h1 {
    font-size: 20px;
  }
}
@media (min-width: 62em) {
  .header-principal > h1 {
    font-size: 24px;
  }
}
.banner-principal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../../assets/images/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 48em) {
  .banner-principal {
    margin-top: 120px;
  }
}
